<h1>Input new athlete information</h1>
<form action="/athletes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% binding.pry %> 
  <input type="hidden" name="team_id" value="<%= params[:id] %>">
  <label for="name">Name:</label>
  <input type="text" id="name" name='athlete[name]'><br><br>
  <label for="age">Age:</label>
  <input type="integer" id="age" name='athlete[age]'><br><br>
  <label for="injury_list">Currently injured?:</label>
  <input type="boolean" id="injury_list" name='athlete[injury_list]'><br><br>
  <input type="submit" value="Create Athlete">
</form>
