<h1>Input new athlete information</h1>
<form action="/teams/<%= @team.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name">Name:</label>
  <input type="text" id="name" name='athlete[name]'><br><br>
  <label for="age">Age:</label>
  <input type="integer" id="age" name='athlete[age]'><br><br>
  <label for="injury_list">Currently Injured?:</label>
  <input type="boolean" id="injury_status" name='athlete[injury_list]'><br><br>
  <input type="submit" value="Create Athlete">
</form>
