<a href="/teams">Task Index</a>

<h3><%= @team.name %></h3>

<p>City: <%= @team.city %></p>
<p>Playoff hunt?: <%= @team.playoff_picture %></p>
<p>Number of championships: <%= @team.championships %></p>
