<a href="/customers">Back to Customers Index</a></br>
<a href="/resorts">Back to Resorts Index</a>
<h1>New Resort</h1>
<form action="/resorts" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="city">City:</label>
  <input type="text" id="city" name='resort[city]'><br><br>
  <label for="name">Name:</label>
  <input type="text" id="name" name='resort[name]'><br><br>
  <label for="at_capacity">At Capacity?:</label>
  <input type="boolean" id="at_capacity" name='resort[at_capacity]'><br><br>
  <label for="cost">Cost:</label>
  <input type="integer" id="cost" name='resort[cost]'><br><br>
  <input type="submit" value="Create Resort">
</form>
